.menu {
	text-align:center;
	margin-left:30px;
}

.formulario{
	width:450px;
}

.painel{
	margin-left:20%;
}

.corpo{
	margin-top:30px;
}

.corpo p{
text-indent:20px;
}

.container{
	margin-top: 30px;
	text-align:center;
}

.container img {
	height: 80%;
}
.painel,.formulario{
	margin-left:20%;
	width:450px;
}

.formulario label{
position:absolute;
left:150px;
margin-left:250px;
}

.formulario h1{
text-align:center;
}
.rodape{
	text-align: center;
	margin-top: 50px;
}

.rodape p {
	text-decoration: none;
}

