body {
	background-image: url("#{resource['img/fundo_teste.png']}");
	background-repeat: repeat;
	height: 100%;
}	

.page-header {
	width: 100%;	
}

.header {
	text-align: left;
	width: 90%;
	margin-left: 35%;
} 

.header small {
	color: white;
}

.logo {
	width: 30%;
	margin-bottom: 15px; 		
}

.painel {
	margin-left:20%;
}

.corpo{
	margin-top:30px;
}

.corpo p {
	text-indent:20px;
}

.container_home {
	width: 100%;
	height: 500px;
	background-color: #FFFFFF; /* BRANCO */
	box-shadow: 2px 2px 20px #888;	
	padding-top: 40px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	float: left;
	margin-bottom: 5%;
}


.container_empresa {
	width: 100%;
	height: 600px;
	background-color: #FFFFFF; /* BRANCO */
	box-shadow: 2px 2px 20px #888;	
	padding-left: 30px;
	float: left;
	margin-bottom: 5%;
}

.container_empresa p {	
	text-align: justify;
}

.container_descricao_empresa {
	width: 55%;
	text-align: center;
	color:  #333333; /*Cinza escuro*/
	padding: 10px 10px 10px 10px;

}

.container_descricao_empresa h3 {
    text-align: left;
	font-weight: bold;
	font-size: 25px;
	color: #000000; /* Preto */
}

.container_descricao_empresa h4 {
	margin-right: 94%;
	font-weight: bold;
	color: #000000; /* Preto */
	float: left;
}

.imagem_empresa {
	float: right;
	margin-top: 20px;
	padding-top: 30px;
	padding-right: 30px;
}

.container_contato {
	width: 100%;
	height: 500px;
	background-color: #FFFFFF; /* BRANCO */
	box-shadow: 2px 2px 20px #888;	
	padding-top: 40px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	float: left;
	margin-bottom: 5%;
}

.mapa {
	margin-left: 52%;
	float: left;
}

.form-group textarea{
	width: 75%;
}


.form-group input{
	width: 65%;
}

.container_localizacao {
	width: 100%;
	height: 640px;
	background-color: #FFFFFF; /* BRANCO */
	box-shadow: 2px 2px 20px #888;	
	padding-top: 20px;
	padding-bottom: 20px;
	float: left;
	margin-bottom: 5%;
}

.container_cadClientes{
	width: 100%;
	height: 700px;
	background-color: #FFFFFF; /* BRANCO */
	box-shadow: 2px 2px 20px #888;	
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	margin-bottom: 5px;
}
.cadClientes1{
	width: 50%;
	float: left;	
}
.cadClientes2{
	width: 50%;
	float: left;
}
.botaoSalvar{
	width: 100%;
	float: right;
	margin-top: 20px;
}
#combobox{
	width: 40%;
}

.container_listaClientes{
	width: 100%;
	height: 100%;
	background-color: #FFFFFF; /* BRANCO */
	box-shadow: 2px 2px 20px #888;	
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	margin-bottom: 5px;
}

#NomeCliente{
	width: 200px;
}

.contato{
    margin-left:130px;
}

.container img {
	width: 100%;
	height: 70%;
}

.rodape{
	text-align: center;
	margin-top: 5%;
}

.rodape p {
	text-decoration: none;
}

